* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

.page {
    display: flex;
    background-color: #ffe4c4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    font-family: monospace;
    /* width: 100vw; */
    /* position: relative; */
}

.login-form {
    /* display: flex; */
    /* position: absolute; */
    background-color: #00ffff;
    width: 300px;
    /* font-size: 16px;     */
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    /* font-family: monospace; */
    /* text-align: center; */
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.form-control {
    margin-bottom: 8px;
}

.form-input {
    height: 32px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 4px;
    outline: none;
}

.submit-button {
    height: 32px;
    width: 100%;
    background-color: #ff7f50;
    margin-top: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
}

.form-label {
    margin-bottom: 4px;
}

input[type="email"],[type="password"] {
    border: 3px solid #ff0000;
}