* {
    box-sizing: border-box;
}

.image {
    padding: 0;
    height: 200px;
    width: 200px;
    margin: 15px;
    border: 1px dotted #808080;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gallery {
    margin: 0;
    padding: 0;
    display: flex;   
}