
.articles-list {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

header {    
    /*text-align: center;*/
    display: flex;
    justify-content: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 100px;
    flex-shrink: 1;
    flex-grow: 1;
}